/* ===== FORM STYLING ===== */

/* Body and Form Layout */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

#content form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#content p {
  text-align: center;
  font-size: 1.1em;
  color: #555;
  margin-bottom: 20px;
}

/* Input Fields */
#content input[type="email"],
#content input[type="submit"],
#content input[type="checkbox"] {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  outline: none;
}
#content input[type="email"]{
  width: 90%;
}

#content input[type="email"]:focus {
  background-color: #e0e0e0;
}

#content input[type="submit"] {
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

#content input[type="submit"]:hover {
  background-color: #333;
}

#content  label {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

#content input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

#content input[type="checkbox"]+label {
  display: inline;
  font-size: 1em;
}

/* Remove borders on input fields */
#content input {
  border: none;
}

#content ol {
  padding-left: 0;
  list-style: none;
}



/* Mobile styling */



@media only screen and (max-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  #content form {
    padding: 20px;
    width: auto;
    margin: 0;
    border-radius: 0;
  }

  #content h1 {
    font-size: 1.3em;
  }

  #content input[type="email"], input[type="submit"] {
    font-size: 1.1em;
    padding: 10px;
    width: 90%;
  }

  #content p {
    font-size: 1em;
    margin: 20px 0;
  }
}
